html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

/* ===== Navbar ===== */
* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 70px;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

.nav-container {
  /* max-width: 1100px; */
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}



/* Hamburger hidden on desktop */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Nav links */
.nav-links {
  list-style: none;
  height: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  /* margin-left: 20px; */
  height: 50px;
  align-items: center;
}

.nav-links a {
    display: flex;
    align-items: center;     /* 🔥 vertical center */
    height: 100%; 
    text-decoration: none;
    color: #333;
    font-weight: 1000;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-links a:hover {
  color: #ffffff;
  background-color: rgb(19, 48, 109);
}

/* ===== Hero ===== */
.home {
  height: 100vh;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  text-align: center;
}

.home-base{
    width: 100%;
    height: 100%;
    display: flex;
}

/* .home-left, .home-right {
    flex: 1 1 300px;
} */

.home-left{
    /* width: 40%; */
    display: flex; 
    flex: 0 0 40%;            /* turn div into flex container */
    flex-direction: column;    /* stack items vertically */
    justify-content: center;   /* vertical center */
    align-items: center;
    background: linear-gradient(135deg, #F2F8FD, #F8EDFC);
}



.home-right{
    /* width: 60%; */
    display: flex;
    flex: 0 0 60%;
    background: linear-gradient(135deg, #F0F8FC, #FCF7F0);
    /* background-image: url('images/cvr1.png');
    background-size: auto;
    background-position: center; */
    flex-direction: column;    /* stack items vertically */
    justify-content: center;   /* vertical center */
    /* align-items: center; */
    
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  margin-top: 50px;
}

.main-name{
    margin: 0px;
    text-decoration: none;
    color: #333;
    font-size: 60px;
    font-weight: bold;
}
.degic{
    margin: 10px;
    text-decoration: none;
    color: rgb(85, 67, 207);
    font-size: 15px;
    font-weight: 600;
}
.market{
    margin: 2px;
    text-decoration: none;
    color: rgb(20, 153, 177);
    font-size: medium;
}
.home-left a{
    text-decoration: none; 
}
.profiles{
    margin-top: 10px;
    margin-bottom: 30px;
}

.profiles a{
    text-decoration: none; 
}

.profiles img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.btn {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 50px;
}


.home-right-btns{
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.home-right-btns a{
  margin-right: 20px;
}

.a1{
  text-align: left;
  color: #1422e0;
  margin: 0px;
  margin-top: 20px;
  margin-left: 20%;
}
.a2{
  text-align: left;
  font-size: 70px;
  font-weight: bold;
  margin: 0px;
  margin-left: 20%;
}
.a3{
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
  margin-left: 20%;
  color: #5f5f5f;
}
.a4{
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.6;
}


.education {
  background: linear-gradient(90deg, #F8EDFC, #FCF7F0);
}

.edu-back{
  margin-left: 20%;
  margin-right: 20%;
}
.edu-back h2 {
  margin-top: 0px;
  text-decoration: underline;
  font-size: xx-large;
}

.edu-card{
  background: white;
  padding: 20px;
  margin: 20px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.edu-card h3{
  margin-top: 10px;
  margin-bottom: 5px;
}
.edu-group{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.duration{
  margin-top: 0px;
  margin-bottom: 20px;
}
.uni{
  margin: 0px;
  color: rgb(54, 96, 107);
}
.transcripts{
  margin-top: 200px;
  margin-bottom: 20px;
}

.background{
  margin-bottom: 0px;
  text-align: justify;
  line-height: 1.6;
}

.skills {
  background: linear-gradient(135deg, #f2fdf3, #fcf9ed);
}

.skill-set {
  margin-left: 20%;
  margin-right: 20%;
}

.skill-set h2 {
  margin-top: 0px;
  text-decoration: underline;
  font-size: xx-large;
  text-align: center;
}

.skill-set table th{
  padding: 5px;
  text-align: right;
  vertical-align: top; 
}

.skill-set table td{
  text-align: justify;
  padding: 5px;
  font-size: 18px;
  vertical-align: top; 
}

.research {
  background: linear-gradient(135deg, #f4f2fd, #fcf9ed);
}

.research h2 {
  margin-top: 0px;
  text-decoration: underline;
  font-size: xx-large;
  text-align: left;
}

.research ul{
  list-style: none;
  font-size: 18px;
  padding-bottom: 20px;
}

.title{
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}
.conf-name{
  color: #555;
  margin-top: 5px;
  padding-left: 20px;
}
.research-keywords{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.keyword{
  margin: 10px;
  margin-top: 0px;
  background-color: #1a2d42;
  border-radius: 50px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  vertical-align: middle;
}

.paper-link{
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}

.line{

  height: 1px;
  background-color: #ddd;
  margin: 20px 0;

}

.line2{

  height: 1px;
  margin: 0;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #ddd;

}


/* ===== Projects ===== */

.projects {
  background: linear-gradient(135deg, #f2fcfd, #edfcef);
}

.project-area {
  margin-left: 20%;
  margin-right: 20%;

}

.project-area h2 {
  margin-top: 0px;
  text-decoration: underline;
  font-size: xx-large;
  text-align: left;
}

.projects-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  padding: 20px;
  flex: 1 1 200px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}


.exp{
  background: linear-gradient(135deg, #fdf4f2, #fcfced);

}

.awrd-desc{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.contacts{
  background-color: #383838;
}
.contacts-area{
  margin-left: 20%;
  margin-right: 20%;
  height: 100vh;
  display: flex;            /* turn div into flex container */
  flex-direction: column;    /* stack items vertically */
  justify-content: center;   /* vertical center */
  align-items: center;
}

.contacts-area h2 {
  margin-top: 0px;
  text-decoration: underline;
  font-size: xx-large;
  text-align: center; 
  color: white; 
}

.contacts-area h2 {
  color: white; 

}

.contacts-area a {
  color: white; 
  text-decoration: none;
}

.contacts p{
  color: white;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 768px) {
    .home-base {
        flex-direction: column;
    }
    .home{
      height: fit-content;
    }
    .home-left,
    .home-right {
        flex: 0 0 100%;
        height: 1000px;
    }
    .a1, .a2, .a3, .a4{
      margin-left: 10%;
    }
    .a2{
      font-size: 40px;
    }
    .a3{
      font-size: 30px;
    }
    .a4{
      margin-right: 10%;
    }
    .home-right-btns{
      margin-left: 10%;
      margin-right: 10%;
    }
    .edu-back{
      margin-left: 10%;
      margin-right: 10%;  
    }
    .skill-set {
      padding-top: 20px;
      margin-left: 10%;
      margin-right: 10%;
    }
    .project-area{
      margin-left: 10%;
      margin-right: 10%;
    }
    .contacts-area{
      margin-left: 10%;
      margin-right: 10%;
    }
    
}



/* ===== Sections ===== */
.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.gray {
  background: #f9f9f9;
}


/* ===== Responsive ===== */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .nav-links li {
    margin: 15px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .projects-grid {
    flex-direction: column;
  }
}
